<div class="inner padding-10">
  <h2>{{diary.day}}</h2>
  <h3>Breakfast</h3>
  {{#each diary.breakfast}}
    <div class="col-md-9">
      {{name}} ({{grams}}g)
    </div>
    <div class="col-md-3">
      {{kcal}} kcal
    </div>
  {{/each}}

  <h3>Lunch</h3>
  {{#each diary.lunch}}
    <div class="col-md-9">
      {{name}} ({{grams}}g)
    </div>
    <div class="col-md-3">
      {{kcal}} kcal
    </div>
  {{/each}}

  <h3>Dinner</h3>
  {{#each diary.dinner}}
    <div class="col-md-9">
      {{name}} ({{grams}}g)
    </div>
    <div class="col-md-3">
      {{kcal}} kcal
    </div>
  {{/each}}

  <h3>Supper</h3>
  {{#each diary.supper}}
    <div class="col-md-9">
      {{name}} ({{grams}}g)
    </div>
    <div class="col-md-3">
      {{kcal}} kcal
    </div>
  {{/each}}
</div>
